html, body, h1, ul {
	margin: 0;
	padding: 0;
	border: 0;
	
}

body {
	font-family: Arial, sans-serif;
	text-align: center;
	color: white;

	background-color: white;
}
header {
	margin: 0;
	padding: 0;
	
	background-image: url('../bg-red.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

header img {
	margin: 50px;
	border: 5px solid white;
	border-radius: 50%;
}

header h1 {
	font-family: 'League Gothic', sans-serif;
	font-size: 72px;
	font-weight: normal;

	padding-bottom: 50px;

	-webkit-text-shadow: 0px 0px 50px black;
	-moz-text-shadow: 0px 0px 50px black;
	-ms-text-shadow: 0px 0px 50px black;
	-o-text-shadow: 0px 0px 50px black;
	text-shadow: 0px 0px 50px black;
}

header ul {
	background-color: rgba(0,0,0,0.6);
	padding: 20px 0;
}

header ul li {
	display: inline;
	padding: 20px;
}

header ul li a {
	text-decoration: none;
	color: white;
}

header ul li:hover {
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

@media (min-width: 1000px) {
	header h1 {
	}
}