* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body { height: 100%; }

body {
  font-family: Arial, sans-serif;
  text-align: center;

  background-color: white;
  font-size: 16px;
}

header {
  margin: 0;
  padding: 0;
  
  background-image: url(/img/bg-red.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}

header img {
  margin: 50px;
  border: 5px solid white;
  border-radius: 50%;
}

header h1 {
  font-family: 'League Gothic', sans-serif;

  font-size: 4em;
  font-weight: normal;

  padding-bottom: 50px;

  -webkit-text-shadow: 0px 0px 50px black;
  -moz-text-shadow: 0px 0px 50px black;
  -ms-text-shadow: 0px 0px 50px black;
  -o-text-shadow: 0px 0px 50px black;
  text-shadow: 0px 0px 50px black;
}

header ul {
  background-color: rgba(0,0,0,0.6);
  padding: 1em 0;
}

header ul li {
  display: inline;
  padding: 1em 0;
}

header ul li a, footer a, .pic-paginator {
  text-decoration: none;
  color: #ddd;
}

header ul li a{
  padding: 1em;
}

header ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

header ul li:hover a {
  color: white;
}

.wrapper {
  max-width: 768px;
  margin: 50px auto;
}

article {
  text-align: left;
  margin: 1em auto;
  padding: 0 10px;
}

h2, h3 {
  font-family: 'League Gothic';
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  color: rgb(70, 0, 0);
}
article p {
  margin: .5em 0;
}

footer {
  background-image: url(/img/bg-red.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}

footer .footer-mask {
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.6);
}

footer ul {
  list-style: none;
}

footer p, footer li, footer a {
  color: #aaa;
}

footer p, footer li {
  font-size: 0.9em;
}

footer ul li a:hover, .pic-paginator:hover {
  text-decoration: underline;
}

footer h6 {
  color: #aaa;

  font-weight: normal;
}

footer hr, footer hr.copy-separation {
  border: 0;
  border-bottom: 1px solid #aaa;
}

footer hr {
  margin: 0;
  margin-bottom: 10px;
}

footer hr.copy-separation {
  margin: 50px 0;
}

.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}

.w75, .w66, .w50, .w33, .w25 {
  margin-right: 3%;
}

.w75 {
  width: 72%;
}
.w75.last {
  width: 75%;
}

.w66 {
  width: 63%;
}
.w66.last {
  width: 66%;
}

.w50 {
  width: 47%;
}
.w50.last {
  width: 50%;
}

.w33 {
  width: 30%;
}

.w25 {
  width: 22%;
}

.last {
  clear: right;
  margin-right: 0;
}

.clear {
  clear: both;
  width: 100%;
}


.member {
  margin-top: 10px;
  margin-bottom: 10px;

  float: left; 
  text-align: left;
}

.member h2 {
  line-height: 1em;
  margin-bottom: 10px;
}

.foto {
  float: left;
  margin: 10px;
}

.pic-paginator {
  color: rgb(70, 0, 0);
  font-size: .9em;
}

.prevpic, .nextpic {
  margin-left: 10px; 
  margin-right: 10px; 
}

.allpics {
  margin: 10px;
  display: block;
}

.profile {
  width: 100px;
  height: 100px;
  
  margin-right: 10px;
  margin-bottom: 0;
  padding: 0;
  
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center;

  float: left;
}

.filipe {
  background-image: url(https://graph.facebook.com/filipe0513/picture?width=100&height=100);
}

.petronio {
  background-image: url(https://graph.facebook.com/petronio.magalhaes.9/picture?width=100&height=100);
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }

  header img {
    height: 100px ;
  }

  .w50{
    width: 96%;
  }

  .member {
    margin: 10px 2%;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-min-device-pixel-ratio: 1.5) { 
  .filipe {
    background-image: url(https://graph.facebook.com/filipe0513/picture?width=200&height=200);
  }
  .petronio {
    background-image: url(https://graph.facebook.com/petronio.magalhaes.9/picture?width=200&height=200);
  }
}